
#xgmenu,
#xgmenu ul,
#xgmenu ul li 		{
						list-style: none;
						line-height: 2em;
						margin: 0px;
						padding: 0px;
						z-index: 1000;
                        overflow: hidden;
                        white-space:nowrap;
					}
/*
This is for test
*/
#xgmenu ul li{
                        border:1px solid blue;
}

